// ============================================================================
//  _____     ______     ______   ______     __  __     __         ______
// /\  __-.  /\  ___\   /\  ___\ /\  __ \   /\ \/\ \   /\ \       /\__  _\
// \ \ \/\ \ \ \  __\   \ \  __\ \ \  __ \  \ \ \_\ \  \ \ \____  \/_/\ \/
//  \ \____-  \ \_____\  \ \_\    \ \_\ \_\  \ \_____\  \ \_____\    \ \_\
//   \/____/   \/_____/   \/_/     \/_/\/_/   \/_____/   \/_____/     \/_/
//
// ============================================================================

  $enable-box-sizing-border-box: true;

  $oo-container-max: var(--size-main-container);
  $oo-base-spacing-size: var(--size-spacing-base);

  $oo-transition-duration: var(--duration-transition);
  $oo-transition-timing: ease-in-out;

// ============================================================================
//   ______     ______     __         ______     ______     ______
//  /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\
//  \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \
//   \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\
//    \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/
//
// ===========================================================================

  $color-white: var(--color-default-white);
  $color-black: var(--color-default-black);
  $color-gray: var(--color-default-gray);

  $color-1: var(--color-palette-1);
  $color-2: var(--color-palette-2);
  $color-3: var(--color-palette-3);
  $color-4: var(--color-palette-4);
  $color-5: var(--color-palette-5);

  $color-body-text: var(--color-body-text);
  $color-body-background: var(--color-body-background);

// =========================================================================
//  ______   ______     __   __     ______   ______
// /\  ___\ /\  __ \   /\ "-.\ \   /\__  _\ /\  ___\
// \ \  __\ \ \ \/\ \  \ \ \-.  \  \/_/\ \/ \ \___  \
//  \ \_\    \ \_____\  \ \_\\"\_\    \ \_\  \/\_____\
//   \/_/     \/_____/   \/_/ \/_/     \/_/   \/_____/
//
// =========================================================================

  $font-heading: var(--font-heading);
  $font-heading-bold-weight: var(--font-heading-bold-weight);
  $font-primary: var(--font-primary);
  $font-primary-light-weight: var(--font-primary-light-weight);
  $font-primary-bold-weight: var(--font-primary-bold-weight);

  $font-size-base:    var(--size-font-base);
  $font-size-minor:   var(--size-font-minor);
  $font-size-major:   var(--size-font-major);
  $font-size-super:   var(--size-font-super);
  $font-line-height:  var(--size-line-height-base);


// =========================================================================
//  __    __     ______
// /\ "-./  \   /\  __ \
// \ \ \-./\ \  \ \ \/\_\
//  \ \_\ \ \_\  \ \___\_\
//   \/_/  \/_/   \/___/_/
//
// =========================================================================

  $breakpoints: (
    480px  xs xsmall,
    600px  s small,
    768px  m medium,
    992px  l large,
    1280px xl xlarge,
    1440px xxl xxlarge,
  );

// =========================================================================
//  ______     ______     __     _____
// /\  ___\   /\  == \   /\ \   /\  __-.
// \ \ \__ \  \ \  __<   \ \ \  \ \ \/\ \
//  \ \_____\  \ \_\ \_\  \ \_\  \ \____-
//   \/_____/   \/_/ /_/   \/_/   \/____/
//
// =========================================================================

  $columns: 12;

  $named-widths: (
    1: full,
    .5: half,
    .333: third,
    .25: quarter,
    .2: fifth,
    .166: sixth,
    .125: eighth,
  );
// ============================================================================
//  _____     ______     ______   ______     __  __     __         ______
// /\  __-.  /\  ___\   /\  ___\ /\  __ \   /\ \/\ \   /\ \       /\__  _\
// \ \ \/\ \ \ \  __\   \ \  __\ \ \  __ \  \ \ \_\ \  \ \ \____  \/_/\ \/
//  \ \____-  \ \_____\  \ \_\    \ \_\ \_\  \ \_____\  \ \_____\    \ \_\
//   \/____/   \/_____/   \/_/     \/_/\/_/   \/_____/   \/_____/     \/_/
//
// ============================================================================

$enable-box-sizing-border-box: true !default;
$enable-normalize: true !default;

$global-size-base: 16px !default;
$global-line-height: 1.5 !default;
$global-spacing-unit: $global-size-base !default;

$global-container-max: 1440px !default; // max-width container size

// ============================================================================
//   ______     ______     __         ______     ______     ______
//  /\  ___\   /\  __ \   /\ \       /\  __ \   /\  == \   /\  ___\
//  \ \ \____  \ \ \/\ \  \ \ \____  \ \ \/\ \  \ \  __<   \ \___  \
//   \ \_____\  \ \_____\  \ \_____\  \ \_____\  \ \_\ \_\  \/\_____\
//    \/_____/   \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_____/
//
// ===========================================================================

$color-success: #5bef6b;
$color-success-alt: #ecfef0;
$color-error: #e13333;
$color-error-alt: #fff6f6;

$color-primary: #ff5b35;
// $color-primary-alt:    #5b5b5b;
$color-secondary: $color-primary;
// $color-secondary-alt:  #9a9a9a;

$color-white: #ffffff;
$color-black: #000000;
$color-offblack: #232323;
$color-grey-dark: #54585a;
$color-grey: #b2b2b2;
$color-grey-light: #e3e3e3;
$color-grey-blue: #838c8e;
$color-orange: #f3713d;
$color-red-orange: #fd593a;
$color-blue: #0B00AA;
$color-blue-light: #bcdeed;
$color-cream: #fcfaf5;
$color-light-blue: #b4dde7;

$color-body-text: $color-grey-dark;
$color-body-background: $color-white;
$color-heading-text: $color-grey-dark;
$color-border: $color-grey-light;
$color-navigation: $color-grey-light;
$color-navigation-hover: $color-white;
$color-text: #232323;

$color-dark-gray: #232323;
$color-medium-gray: #323232;
$color-background-light: $color-cream;

$color-grey-gradient: linear-gradient(90deg, rgba(254,253,250,0.4) 0%, rgba(227,227,227,0.4) 100%);
$color-white-frost-gradient: linear-gradient(-90deg, rgba(254,253,250,0.4) 0%, rgba(227,227,227,0.4) 100%);

$striped: repeating-linear-gradient(90deg, $color-light-blue, #fff 2px);

@mixin striped {
  position: relative;
  color: #000;
  background: transparent;
  z-index: 0;
  &::before,
  &::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
  }

  // IMAGE
  &::before {
    background: url("https://cdn.shopify.com/s/files/1/0993/1558/files/stripe.svg");
    background-size: 2px auto;
    background-repeat: repeat;
    background-position: center center;
    z-index: -1;
  }

  // COLOR
  &::after {
    opacity: 0;
    background: $color-light-blue;
    z-index: -1;
    transition: 0.3s ease-in-out opacity;
  }

  &:hover,
  &:focus {
    color: #2626b3;
    background: transparent;
    &::after {
      opacity: 1;
    }
  }
}

// =========================================================================
//  ______   ______     __   __     ______   ______
// /\  ___\ /\  __ \   /\ "-.\ \   /\__  _\ /\  ___\
// \ \  __\ \ \ \/\ \  \ \ \-.  \  \/_/\ \/ \ \___  \
//  \ \_\    \ \_____\  \ \_\\"\_\    \ \_\  \/\_____\
//   \/_/     \/_____/   \/_/ \/_/     \/_/   \/_____/
//
// =========================================================================

// Default fonts
// 1. https://news.ycombinator.com/item?id=12075623

// $global-font-color:    #333333 !default;
$global-font-source-sans: "Source Sans Pro", sans-serif;
$global-font-maven: "Maven Pro", sans-serif;
$global-font-conv-serifa: "conv_SerifaStd-Roman", Montserrat, sans-serif;

$global-font-primary: $global-font-source-sans;
$global-font-secondary: $global-font-maven;
$global-font-ternary: $global-font-conv-serifa;

$body-font: $global-font-primary;
$heading-font: $global-font-secondary;
// $global-font-primary:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default; /* [1] */

$gt-america-expanded-bold: "GTAmerica-ExpandedBold", arial, sans-serif; // h1-h4
$gt-america-mono-regular: "GTAmericaMono-Regular", arial, sans-serif; // h5
$gt-america-mono-medium: "GTAmericaMono-Medium", arial, sans-serif; // a
$gt-america-regular: "GTAmerica-Regular", arial, sans-serif; // h5, p, p.caption
$maven: "Maven Pro", sans-serif;
// =========================================================================
//  __    __     ______
// /\ "-./  \   /\  __ \
// \ \ \-./\ \  \ \ \/\_\
//  \ \_\ \ \_\  \ \___\_\
//   \/_/  \/_/   \/___/_/
//
//  sizes in px for increased specificity
//
// =========================================================================

$screen-xxs: 360px;
$screen-xs: 480px;
$screen-sm: 720px;
$screen-ipad: 768px;
$screen-md-ipad: 1024px;
$screen-md: 1020px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1800px;

// bootstrap
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// =========================================================================
//  ______     ______     ______     __     __   __     ______
// /\  ___\   /\  __ \   /\  ___\   /\ \   /\ "-.\ \   /\  ___\
// \ \  __\   \ \  __ \  \ \___  \  \ \ \  \ \ \-.  \  \ \ \__ \
//  \ \_____\  \ \_\ \_\  \/\_____\  \ \_\  \ \_\\"\_\  \ \_____\
//   \/_____/   \/_/\/_/   \/_____/   \/_/   \/_/ \/_/   \/_____/
//
// =========================================================================

$linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-in: cubic-bezier(0.42, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.58, 1);
$ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
