$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

.Accordion {
  &__toggle {
    cursor: pointer;

    &::before {
      content: "+";
      display: inline-block;
      margin-right: 8px;
      transition-timing-function: $easeInOutCubic;
      transition: 0.3s transform;
    }
  }

  &__body {
    max-height: 0;
    overflow-y: hidden;
    transition-timing-function: $easeInOutCubic;
    transition: 0.4s ease-in-out;
    position: relative;
  }

  &--toggled {
    .Accordion__toggle::before {
      content: "-";
      transform: rotate(180deg);
    }
  }
}
