@import "../helpers/variables";

// COLORS
$blue: #202020;
$grey: #202020;
$off-white: #dedede;

.footer {
  // font-size: 12px;

  .container {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: -90px;
    right: 30px;
  }

  &__icon-img {
    display: block;
    width: 70px;
    height: auto;
  }

  &__top > .container > .row > [class*=" col-"] {
    padding: 0 15px;
  }

  &__heading {
    color: $off-white;
    font-size: 40px;
    line-height: 56px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__link {
    p {
      text-transform: uppercase;
      color: $off-white;
      font-size: 14px;
      font-family: $gt-america-regular;
      letter-spacing: 1px;
    }
    a {
      font-size: 12px;
      letter-spacing: 1.25px;
      line-height: 16px;
      color: $off-white;
      text-transform: uppercase;
      font-family: $gt-america-mono-regular;
    }
  }

  &__top {
    background: $grey;
    padding: 134px 0 66px;
    position: relative;
  }

  &__btm {
    background: #000000;
    padding: 37px 0;

    &__copy {
      color: #636363;
      text-transform: uppercase;
    }

    &__links {
      margin: 0;
    }

    &__link {
      display: inline-block;
      padding: 0 16px;
      margin: 0;

      p {
        color: #686868;
      }
      a {
        color: $off-white;
      }

      a,
      p {
        text-transform: uppercase;
        padding: 0;
        font-family: $gt-america-mono-regular;
        font-size: 12px !important;
      }
    }
  }

  .cta {
    $height: 50px;
    margin: 50px auto;

    .alert {
      padding: 20px 0 0;
      font-size: 12px;
      font-weight: bold;
      font-family: inherit;

      &.alert--success {
        color: $off-white;
      }
      &.alert--danger {
        color: red;
      }
    }

    &__input-group {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $off-white;
    }

    &__input {
      border: none;
      border-radius: 0;
      color: #fff;
      background: none;
      line-height: $height;
      padding: 0;
      font-size: 20px;
      font-family: $gt-america-regular;

      &::-webkit-input-placeholder {
        color: #fff;
      }
      &::-moz-placeholder {
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
      &:-moz-placeholder {
        color: #fff;
      }
    }

    &__submit {
      min-width: 60px;
      border: 0;
      background: 0;
      color: $off-white;
      padding: 0;
      line-height: $height;
      font-size: 12px;
      font-family: $gt-america-mono-regular;
    }
  }

  &__scroll {
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 15px;
  }

  &__scroll-icon {
    width: 12px;
    height: 16px;
    display: block;
    margin-bottom: 5px;
  }

  .social {
    &__icon {
      display: inline-block;
      a {
        padding: 20px;
        display: inline-block;
      }
      img {
        width: 32px;
      }
    }
  }
}

.footer-newsletter-form {
  position: relative;
}

@media (min-width: 1200px) {
  .footer {
    &__links {
      max-width: 150px;
      margin: 0 auto;
    }
  }
}

.footer-newsletter-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  display: inline-block;
  height: 50px;
  background: $color-primary;
  border-color: $color-primary;
  color: $color-white;
  border: 1px solid $color-primary;
  border-radius: 0 5px 5px 0;
}
