.heading-section {
  padding: 4rem 30px 2rem;

  @include mq($screen-sm) {
    padding: 6.5rem 0 4rem;
  }

  @include mq($screen-sm) {
    padding: 7.5rem 0 4rem;
  }

  @include mq($screen-md) {
    padding: 8.5rem 0 4rem;
  }

  &--dark {
    background: $color-dark-gray;
    color: white;
    .heading-section__heading {
      color: white;
    }
  }

  &--light {
    background: $color-cream;
    .heading-section__heading {
      color: $color-dark-gray;
    }
  }

  &__container {
    padding: 0;

    @include mq($screen-sm) {
      margin: 0;
      width: auto;
      padding-left: 6rem;
    }

    @include mq($screen-md) {
      padding-left: 7.5rem;
    }
  }

  &__heading {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 0;
    padding-right: 30%;

    @include mq($screen-sm) {
      font-size: 32px;
      line-height: 46px;
      padding-right: 1rem;
    }
  }
}