.home-hero{
	padding: 186px 0 136px;
	text-align: center;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	position: relative;
	@include mq($sm){
		padding: 375px 0 456px;
	}
	@include mq($md){
		padding: 240px 0 300px;
	}
	.hero__content{
		width: 100%;
		h1{
			text-transform: uppercase;
			color: $color-white;
			font-size: 36px;
			line-height: 48px;
			@include mq($sm){
				font-size: 64px;
				line-height: 96px;
			}
			@include mq($md){
				font-size: 96px;
				line-height: 104px;
			}
			span{
				display: block;
			}
		}
		p{
			max-width: 300px;
			margin: 10px auto 0;
			color: $color-white;
			font-size: 18px;
			line-height: 28px;
			padding: 0;
			@include mq($sm){
				max-width: 485px;
				font-size: 20px;
				line-height: 32px;
				margin-top: 16px;
			}
			@include mq($md){
				margin-top: 24px;
			}
			sup{
				font-size: 12px;
				line-height: 8px;
				//theme.scss override
				margin-top: 0 !important;
				@include mq($md){
					font-size: 14px;
				}
			}
		}
		.hero__cta{
			padding-top: 96px;
			display: flex;
			align-items: center;
			justify-content: center;
			@include mq($sm){
				padding-top: 220px;
			}
			@include mq($md){
				padding-top: 120px;
			}
			.btn{
				margin: 0 15px;
				min-width: 135px;
				@include mq($sm){
					min-width: 210px;
					margin: 0 30px;
				}
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	.hero__commitment{
		padding-top: 210px;
		@include mq($sm){
			padding-top: 440px;
		}
		@include mq($md){
			padding-top: 360px;
		}
		h2{
			font-family: $gt-america-mono-regular;
			font-size: 12px;
			letter-spacing: 1px;
			line-height: 20px;
			color: $color-blue-light;
			text-transform: uppercase;
			margin-bottom: 16px;
			@include mq($sm){
				font-size: 14px;
				line-height: 24px;
			}
		}
		p{
			font-family: $gt-america-expanded-bold;
			font-size: 26px;
			line-height: 36px;
			color: $color-white;
			padding: 0 15px;
			@include mq($sm){
				font-size: 32px;
				line-height: 46px;
			}
			@include mq($md){
				font-size: 40px;
				line-height: 56px;
			}
		}
	}
	.hero__arrow-wrap {
		display: none;
		transform: rotate(90deg);
    width: 20px;
    position: absolute;
    left: 56px;
    top: 50%;

    @include mq($screen-ipad) {
    	display: block;
    }
	}
	.hero__arrow {
		fill: $color-white;
	}
}