.image-banner-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 118px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &--light {
    background-color: white;
    p {
      color: $color-text;
    }
  }

  &--dark {
    background-color: $color-text;

    p {
      color: white;
    }
  }

  @include mq($screen-sm) {
    padding: 6rem;
  }

  @include mq($screen-md) {
    height: calc(100vh - 146px);
  }

  &__text {
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    font-family: $gt-america-expanded-bold;
    padding: 0;

    @include mq($screen-sm) {
      font-size: 32px;
      line-height: 46px;
      max-width: 50rem;
      margin: 0 auto;
    }

    @include mq($screen-md) {
      font-size: 40px;
      line-height: 56px;
    }
  }
}