.press-section{
	text-align: center;
	padding: 60px 0;
	@include mq($sm){
		padding: 96px 0 88px;
	}
	@include mq($md){
		padding: 80px 0;
	}
	.press__header{
		margin-bottom: 60px;
		width: calc(100% + 2px);
		@include mq($sm){
			margin-bottom: 96px;
			width: 100%;
		}
		@include mq($md){
			margin-bottom: 80px;
		}
		span{
			font-size: 12px;
			color: $color-blue;
			line-height: 20px;
			letter-spacing: 1px;
			display: block;
			margin-bottom: 16px;
			font-family: $gt-america-mono-regular;
			text-transform: uppercase;
			@include mq($sm){
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 24px;
			}
			@include mq($md){
				margin-bottom: 16px;
			}
		}
		h2{
			font-size: 26px;
			line-height: 36px;
			color: $color-offblack;
			@include mq($sm){
				font-size: 32px;
				line-height: 46px;
			}
			@include mq($md){
				font-size: 40px;
				line-height: 56px;
			}
		}
	}
	.press__articles{
		margin-bottom: 30px;
		width: calc(100% + 60px);
		position: relative;
		left: -30px;
		visibility: hidden;
		@include mq($sm){
			margin-bottom: 96px;
			width: 100%;
			left: 0;
		}
		@include mq($md){
			left: 0;
			margin-bottom: 80px;
		}
    &.slick-initialized {
      visibility: visible;
    }
    .slick-list{
    	margin: 0 0px;
	   	overflow: visible;
    }
		.press__article{
			border: 5px solid $color-white;
			height: 205px;
			margin: 0 30px;
			background-color: #f2f8fb;
			box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			overflow: hidden;
			transition: all 300ms cubic-bezier(0.33, 0.00, 0.33, 1.00);
			@include mq($sm){
				margin: 0 10px;
				height: 130px;
				border-width: 3px;
			}
			@include mq($md){
				margin: 0 20px;
				height: 155px;
				border-width: 4px;
			}
			&:hover,
			&.slick-current{
				background-color: $color-blue-light;
				p{
					color: $color-white;
					-webkit-text-stroke-width: 0;
					-webkit-text-fill-color: $color-white;
				}
			}
			&:focus{
				outline: none;
			}
			p{
				-webkit-text-fill-color: transparent;
  			-webkit-text-stroke-width: 1px;
  			-webkit-text-stroke-color: #83cfe2;
  			font-size: 30px;
  			text-transform: uppercase;
  			font-family: $gt-america-expanded-bold;
  			letter-spacing: 1px;
				padding: 0 10px;
				line-height: 1.2;
				transition: all 300ms cubic-bezier(0.33, 0.00, 0.33, 1.00);
				@include mq($sm){
					font-size: 20px;
				}
				@include mq($md){
					font-size: 22px;
				}
			}
		}
	}
	.press__article-quotes{
		margin-bottom: 0;
		.slick-dots{
			position: relative;
			bottom: 0;
			margin-bottom: 0;
			margin-top: 60px;
			li{
				width: 30px;
				height: 2px;
				transition: all 300ms cubic-bezier(0.33, 0.00, 0.33, 1.00);
				button{
					&:before{
						content: '';
						width: 30px;
						height: 2px;
						background-color: $color-offblack;
						opacity: 0.5;
						margin: 0 2px;
						transition: all 300ms cubic-bezier(0.33, 0.00, 0.33, 1.00);
					}
				}
				&.slick-active{
					width: 60px;
					button{
						&:before{
							opacity: 1;
							width: 60px;
						}
					}
				}
			}
		}
		.press__article-quote{
			&:focus{
				outline: none;
			}
			p{
				font-size: 18px;
				line-height: 28px;
				margin: 0 auto;
				padding: 0;
				color: $color-offblack;
				@include mq($sm){
					font-size: 26px;
					line-height: 38px;
					max-width: 576px;
				}
				@include mq($md){
					font-size: 28px;
					line-height: 40px;
					max-width: 700px;
				}
			}
		}
	}
}