// for styling page templates e.g.
// pages/returns
// pages/contact
// pages/oros-technology
// pages/

.module-wrapper {
  padding: 120px 0;
  font-family: $gt-america-regular;
}

.module {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $gt-america-expanded-bold;
  }
  div,
  span,
  a,
  li,
  ul,
  p {
    font-family: inherit;
  }
  a {
    font-size: inherit;
    line-height: inherit;
    color: blue;
    font-family: inherit;
  }

  button {
    @include striped;
  }
}

// BLOG STYLES
.template--blog {
  .module-wrapper {
    padding-top: 0;
  }
  .post-title {
    margin-top: 22px !important;
    font-family: $gt-america-expanded-bold;

    &::before {
      content: "";
      display: none;
    }

    h1 {
      font-size: 18px;
      text-align: left !important;
    }
    a {
      color: rgb(35, 35, 35);
    }
  }
}

.post-wrapper .post {
  img {
    height: 125px;
    @include mq($sm) {
      height: 200px;
    }
    @include mq($md) {
      height: 250px;
    }
  }
}

// CONTACT FORM STYLES
.contact-form-title h3 {
  font-size: 25px;
  @include mq($sm) {
    font-size: 36px;
  }
  @include mq($lg) {
    font-size: 40px;
  }
}

.contact-form-button {
  @include striped;
  border: none;
  padding: 0 15px;
  line-height: 60px;
  min-width: 200px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $gt-america-mono-regular;
  font-size: 12px;
  margin: 30px 0 0 auto;
  display: block;
}
.success-message.contact-form-success {
  display: none !important;
}
