.super {
  @include mq-max(991px) {
    .container {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }
}

.hero {
  position: relative;
  padding: 16% 10% 9%;
  // margin-top: 56px;
  background-size: auto 100%;
  background-position: bottom right;
  background-repeat: no-repeat;

  @include mq-max($md) {
    background-image: unset !important;
    padding: 40% 20px 11%;
  }

  .container {
    min-height: 100%;
    display: flex;
    align-items: center;
  }

  &__heading {
    text-align: left;
    color: inherit;
  }
}
.category {
  background: #232323;
  position: relative;

  .container,
  .row {
    height: 100%;
  }

  [class*="col-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 10%;
    position: relative;
    min-height: 65vh;

    @include mq($md) {
      padding: 0 15px;
      position: static;
    }

    @include mq($lg) {
      min-height: 100vh;
    }
  }

  &--right {
    .row {
      flex-direction: row-reverse;
    }
    .category__featured {
      left: 0;
      text-align: left;
      &-heading {
        margin: 0 auto 0 0;
      }
    }
  }
  &--left {
    .row {
      flex-direction: row;
    }
    .category__featured {
      right: 0;
      text-align: right;

      &-heading {
        margin: 0 0 0 auto;
      }
    }
  }

  &__gradient {
    background: radial-gradient(lighten(#274265, 5%), darken(#234163, 5%));

    @include mq($md) {
      background: transparent;
    }
  }

  & &__bg-img-wrapper,
  & &__img-wrapper {
    padding: 0;
  }

  &__bg-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;

    @include mq($md) {
      display: block;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 1;
    object-fit: cover;
    object-position: center center;

    @include mq($md) {
      position: relative;
      height: auto;
      object-fit: unset;
      object-position: unset;
      padding: 20% 10%;

      &.category__img--hide-on-desktop {
        display: none;
      }
    }
  }

  &--light {
    background: #fff;

    .category__heading,
    .category__description {
      color: #000;
    }
  }

  &__headings {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1;

    @include mq($md) {
      padding: 0 30px;
    }

    @include mq($lg) {
      padding: 0 60px;
    }
  }
  &__heading {
    color: #fff;
    margin-bottom: 24px;
    line-height: 56px;
  }
  &__subheading {
    color: #221ab4;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: $gt-america-mono-regular;
  }
  &__description {
    color: #fff;
  }
  &__cta {
    @include striped;

    text-transform: uppercase;
    font-family: $gt-america-mono-regular;
    letter-spacing: 1px;
    padding: 0 40px;
    line-height: 60px;
    height: 60px;
    white-space: nowrap;
    margin: 40px auto 0 0;
    display: inline-block;
  }
  &__featured {
    display: none;
    padding: 30px;
    position: absolute;
    bottom: 0;
    z-index: 1;

    @include mq($sm) {
      display: inline-block;
    }
  }
  &__featured-heading {
    color: #fff;
    font-size: 26px !important;
    line-height: 36px;
    max-width: 75%;
  }
  &__featured-subheading {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: $gt-america-mono-regular;
  }
}
