.text-overlay-section {
	padding: 30px 0;

	&--dark {
		color: white;
		background: #232323;

		.text-overlay-section__text {
			color: white;
		}

		h3,
		p {
			color: white;
		}
	}

	&--light {
		color: #232323;
		background: #fcfaf5;

		.text-overlay-section__text {
			color: $color-text;
		}

		h3,
		p {
			color: #232323;
		}
	}

	&--white {
		color: #232323;
		background: #ffffff;

		.text-overlay-section__text {
			color: $color-text;
		}

		h3,
		p {
			color: #232323;
		}
	}

	&__image {
		padding-right: 30px;
		margin-bottom: 3.5rem;

		&--image-right {
			padding-right: 0;
			padding-left: 30px;
		}
	}

	&__content {
		padding: 0 30px;
	}

	&__heading {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 1rem;
	}

	&__text {
		font-family: $gt-america-regular;
		color: #232323;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 0;

		p {
			padding: 0;
			font-size: 18px;
			line-height: 28px;
		}

		& > img {
			display: none;
		}
	}

	&__btn {
		margin-top: 20px;
		padding: 16px 20px;
		width: 145px;

		&:first-of-type {
			margin-right: 10px;
			@include mq(560) {
				margin-right: 15px;
			}
			@include mq($screen-md) {
				margin-right: 10px;
			}
			@include mq($screen-lg) {
				margin-right: 15px;
			}
		}

		@include mq($screen-xxs) {
			padding: 22px 20px;
		}

		@include mq(560) {
			width: 196px;
		}

		@include mq($screen-md) {
			width: 160px;
		}

		@include mq($screen-lg) {
			width: 196px;
		}
	}

	@include mq($screen-sm) {
		padding: 3rem 0 6rem;

		&__image {
			padding-right: 6rem;
			margin-bottom: 0;

			&--image-right {
				padding-right: 0;
				padding-left: 6rem;
			}
		}

		&__content {
			padding: 6rem 12rem 0 6rem;
		}

		&__heading {
			font-size: 32px;
			line-height: 46px;
		}

		&__text {
			position: relative;
			padding-left: 50px;
			font-size: 20px;
			line-height: 32px;

			&--no-arrow {
				padding-left: 0;
				padding-right: 50px;
			}

			p {
				font-size: 20px;
				line-height: 32px;
			}

			& > img {
				display: block;
				position: absolute;
				top: 11px;
				left: 0;
			}
		}
	}

	@include mq($screen-md) {
		padding: 5rem 7.5rem 5rem 0;

		&--image-right {
			padding: 5rem 0 5rem 7.5rem;
		}

		&__container {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			&--image-right {
				justify-content: flex-end;
				.text-overlay-section__picture {
					order: 2;
				}

				.text-overlay-section__content {
					margin-left: initial;
					margin-right: -300px;
				}
			}
		}

		&__picture {
			max-width: 1080px;
			flex-basis: 1080px;
		}

		&__image {
			padding-right: 0;
			width: 100%;
			max-width: 1080px;
			flex-basis: 1080px;
			margin: 0;
		}

		&__content {
			padding: 0;
			margin-left: -300px;
			z-index: 3;
			max-width: 540px;
		}
	}

	@include mq($screen-xl) {
		&__picture,
		&__image {
			max-width: 1200px;
			flex-basis: 1200px;
		}
	}

	@include mq($screen-xxl) {
		&__picture,
		&__image {
			max-width: 1440px;
			flex-basis: 1440px;
		}
	}
}
