// todo, uncomment
#preview-bar-iframe {
  display: none;
}

.ugc {
  $arrow-size: 55px;

  padding: 60px 0;
  text-align: center;

  @include mq($md) {
    padding: 96px 0 88px;
  }
  @include mq($lg) {
    padding: 80px 0;
  }

  * {
    min-height: 0;
    min-width: 0;
  }

  &--toggled {
    .ugc__modal {
      display: flex;
    }
  }

  .slick-slider {
    margin-bottom: 0;
  }

  &__heading {
    font-size: 26px;
    line-height: 36px;
    color: #232323;
    margin-bottom: 60px;

    @include mq($md) {
      font-size: 32px;
      line-height: 46px;
      margin-bottom: 96px;
    }
    @include mq($lg) {
      font-size: 40px;
      line-height: 56px;
      margin-bottom: 80px;
    }
  }

  &__subheading {
    font-size: 12px;
    color: #0b00aa;
    line-height: 20px;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 16px;
    font-family: $gt-america-mono-regular;
    text-transform: uppercase;

    @include mq($md) {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 24px;
    }
    @include mq($lg) {
      margin-bottom: 16px;
    }
  }

  &__main {
    @include mq(600) {
      // add margin once slick breakpoint adds arrows
      margin: 0 $arrow-size;
    }

    $slide-gap: 20px;

    .slick-slide {
      margin: 0 $slide-gap;
    }

    .slick-list {
      padding: 10px;
      margin: 0 10px;
      height: 100%;
    }

    .slick-dots {
      display: inline-flex;
      justify-content: center;
      position: static;
      padding: 0;
      margin: 0;
      width: 100%;

      @include mq($screen-ipad) {
        margin-top: 30px;
      }

      li {
        flex: auto;
        display: inline-block;
        position: relative;
        height: 20px;
        width: auto;
        max-width: 30px;
        padding: 20px 0;
        margin: 0 2px;
        cursor: pointer;
        transition: 0.7s all;
        transition-timing-function: Cubic-bezier(0, 0.33, 0.33, 1);

        button {
          background: rgba(0, 0, 0, 0.5);
          outline: none;
          height: 2px;
          width: 100%;
          font-size: 0;
          border: none;
          padding: 0;
          display: block;
          line-height: 0;
          cursor: pointer;

          &:before {
            display: none;
          }
        }

        &.slick-active {
          flex-grow: 2;
          max-width: 60px;

          button {
            background: #000000;
          }
        }
      }
    }

    .slick-prev,
    .slick-next {
      background: $striped;

      border-radius: $arrow-size;
      width: $arrow-size;
      height: $arrow-size;

      &:before {
        display: block;
        margin: 0 auto;
        content: "";
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        width: 0;
      }
    }
    .slick-prev {
      left: -$arrow-size;

      &:before {
        border-right: 8px solid rgb(31, 31, 31);
      }
    }
    .slick-next {
      right: -$arrow-size;
      &:before {
        border-left: 8px solid rgb(31, 31, 31);
      }
    }
  }

  &__main-slide {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.15);
    padding: 7px;
    text-align: center;
    img {
      width: 100%;
      height: 25vw;
      object-fit: cover;
      display: block;
      max-height: 275px;
      min-height: 200px;
    }
  }

  &__link {
    text-decoration: none;
    color: #000;
    padding: 20px 13px 13px;
    text-align: left;
    display: block;
    font-family: $gt-america-regular;
    font-size: 14px;
  }

  &__images {
    flex: 2;
    overflow: hidden;

    @include mq($md) {
      max-height: unset;
    }

    .slick-track,
    .slick-list,
    .slick-slide {
      height: 100%;
    }
    .slick-track {
      display: flex;

      .slick-slide {
        display: flex;
        height: auto;
        object-fit: cover;
        min-height: 100%;
      }
    }

    .slick__arrow {
      bottom: 45px;
      opacity: 1;

      &--next {
        right: 45px;
      }
      &--prev {
        left: 45px;
      }
    }
  }

  &__images-slide {
    max-height: 540px;

    @include mq($md) {
      max-height: unset;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
  }
  &__modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
  &__modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 50px;
    font-family: "Courier New", Courier, monospace;
    line-height: 50px;
    color: #fff;
    width: 80px;
    cursor: pointer;
  }
  &__modal-inner {
    display: flex;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include mq($md) {
      flex-direction: row;
      $scale: 60px;
      max-width: 16 * $scale;
      max-height: 10 * $scale;
    }
  }
  &__details {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.75);
    overflow-y: auto;
    max-height: 250px;
    width: 100%;

    @include mq($md) {
      max-height: unset;
      overflow-y: hidden;
    }

    .slick-list,
    .slick-track {
      height: 100%;
    }
  }
  &__details-slide {
    display: flex !important;
    flex-direction: column;
    height: 100%;
  }
  &__post-wrap {
    overflow-y: auto;
    @include mq($md) {
      overflow-y: initial;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  &__post {
    width: 100%;
    flex: 1;
    padding: 30px;

    @include mq($md) {
      overflow-y: auto;
    }
  }
  &__post-heading {
    font-size: 16px;
    font-family: $gt-america-mono-medium;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 25px;
    text-align: left;
    margin-bottom: 10px;
  }
  &__post-content {
    font-size: 14px;
    font-family: $gt-america-mono-regular;
    text-align: left;

    a {
      color: $color-blue;
      font-family: inherit;
      font-size: inherit;
      padding: 0;
    }
  }

  &__tagged {
    flex-shrink: 0;
    display: flex;
    padding: 30px;
    text-transform: uppercase;
  }
  &__tagged-text {
    flex: 2;
    padding-left: 15px;
    text-align: left;
    font-family: $gt-america-mono-medium;
  }
  &__tagged-image {
    height: 95px;
    width: 95px;
  }

  &__tagged-title {
    font-size: 13px;
    font-family: inherit;
  }

  &__tagged-link {
    color: $color-blue;
    font-size: 11px;
  }
}
