.oo-topbar,
.oo-global-header,
.oo-main,
.oo-global-footer,
.oo-bottombar {
  max-width: $oo-container-max;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.oo-template {
  display: flex;
  flex-wrap: wrap;
}
