.oo-option-group {
  display: flex;
  flex-wrap: wrap;
}

.oo-option-group .oo-header {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.swatch {

  .oo-input {
    display: none;
  }

  .oo-label {
    display: inline-block;
    font-size: 0;
    border: 4px solid transparent;
    outline: 1px solid $color-black;
    height: 40px;
    width: 40px;
  }

}

.swatch-cool-blue .oo-label  {
  background-color: skyblue;
}

.swatch-charcoal-grey .oo-label  {
  background-color: grey;
}

.swatch-pink-rose .oo-label  {
  background-color: pink;
}
