.vv-product-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 30px;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 300ms;

  > * {
    flex-basis: 100%;
    flex: 0 1 auto;
  }

  &.with-quickshop:hover {
    transform: translateY(-55px);

    .product-item-quickshop-toggles {
      transform: translateY(0);
    }
  }
}

.product-item-quickshop-toggles {
  margin-top: auto;
  display: flex;
  transition: transform 300ms;
  transform: translateY(100%);
}

.product-item-header {
  display: flex;
  flex-direction: column;
}

.product-item-subheading {
  order: -1;
}
