<div class="cart">
  <div class="cart__header">
    <div class="cart__container">
      <h1 class="cart__heading">Your Cart</h1>
      <div class="cart__back" data-go-back>&times;</div>
    </div>
  </div>
  <div class="cart__container">
    <div class="table cart__products"></div>
    <div class="cart__empty">
      <p>Your cart is empty. <a href="/">Start shopping</a></p>
    </div>
  </div>
  <div class="cart__footer">
    <div class="cart__container">
      <div class="cart__footer-inner">
        <div class="cart__subtotal">
          <div class="cart__subtotal-label">Subtotal</div>
          <div class="cart__subtotal-price"></div>

        {% comment %} </div><a class="cart__checkout btn btn--striped" href="/checkout">Checkout</a>
        {% include 'bongo-checkout-button' %} {% endcomment %}
      </div>

      {% comment %} US Checkout {% endcomment %}
      <div class="cart__checkout-container cart__checkout-container--local">
        <a href="/checkout" class="cart__checkout cart__checkout--local">Checkout</a>
        {% comment %}<a href="/checkout" class="cart__checkout cart__checkout--local">U.S. &amp; Canada Checkout</a>{% endcomment %}
        {% comment %}{% include 'bongo-checkout-button', blockClass: "cart" %}{% endcomment %}
      </div>

      {% comment %} International Checkout {% endcomment %}
      {% comment %}
      <div class="cart__checkout-container cart__checkout-container--international">
        {% include 'bongo-checkout-button', blockClass: "cart" %}
        <a href="/checkout" class="cart__checkout cart__checkout--local">Or ship to the U.S.</a>
      </div>
      {% endcomment %}
    </div>
  </div>
</div>

{% include 'bongo-checkout-form' %}
