{% comment %}
  FriendBuy:
  Refer-A-Friend Landing Page: Create an empty page on your site with a header/footer and drop in this widget code on the page to display the iframe in the middle of the page.  This is the page you can link to via email and social media.
{% endcomment %}
<!-- referral -->
<script>
    window['friendbuy'] = window['friendbuy'] || [];
    window['friendbuy'].push(['widget', "d1e-o8E"]);
</script>
<div class="friendbuy-d1e-o8E"></div>
