{% comment %}
  FriendBuy: 
  Email Capture Widget: Create an empty landing page on your site with a header / footer and embed this code on the page to display the iframe.  This page is where the Friend will land after clicking on a referral link.
{% endcomment %}
<!-- shared --> 
<script>
    window['friendbuy'] = window['friendbuy'] || [];
    window['friendbuy'].push(['widget', "d1e-pcH"]);
</script>
<div class="friendbuy-d1e-pcH"></div>
