<button class="{{- blockClass -}}__checkout--international"
  type="submit" id="outside-the-us"
  name="BongoFormSubmit"
  onclick="javascript: document.forms['BongoCheckoutForm'].submit(); return false;">
    <span class="local-label">Or ship internationally</span>
    <span class="international-label">Checkout</span>
</button>