<div style="display: none;"><!-- inject:svg --><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol id="close-icon" viewBox="0 0 19 18">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Mobile/Active" transform="translate(-334.000000, -11.000000)" fill="#000000">
            <g id="Icon_X" transform="translate(334.000000, 11.000000)">
                <g id="noun_831931_cc">
                    <path d="M10.1387872,9 L18.8677876,0.73035118 C19.0440708,0.563142915 19.0440708,0.29246319 18.8677876,0.125254925 C18.6915044,-0.0417516416 18.4053635,-0.0417516416 18.2290802,0.125254925 L9.50007984,8.39490374 L0.771079443,0.125254925 C0.594796216,-0.0417516416 0.308655325,-0.0417516416 0.132372097,0.125254925 C-0.0441240325,0.29246319 -0.0441240325,0.563142915 0.132372097,0.73035118 L8.86137249,9 L0.132372097,17.2696488 C-0.0441240325,17.4366554 -0.0441240325,17.7077385 0.132372097,17.8747451 C0.220513711,17.9582484 0.336119741,18 0.45172577,18 C0.5673318,18 0.68293783,17.9582484 0.771079443,17.8747451 L9.50007984,9.60529795 L18.2290802,17.8747451 C18.3172218,17.9582484 18.4328279,18 18.5484339,18 C18.6640399,18 18.779646,17.9582484 18.8677876,17.8747451 C19.0440708,17.7077385 19.0440708,17.4366554 18.8677876,17.2696488 L10.1387872,9 Z" id="Shape" fill-rule="nonzero"/>
                </g>
            </g>
        </g>
    </g>
</symbol></svg><!-- endinject --></div>