<div class="notification hidden" id="add-to-cart-notification">
	<div class="notification-close"><span class="icon icon-cross"></span></div>
  	<div class="notification-content">
      <div class="notification-icon ion-bag"></div> Item added to cart! 
  	</div>
</div>