<div class="module-wrapper style-default border">
  <div class="module home-testimonials ready">
      <div class="module-header">     
          <h3 class="module-title home-testimonials-title" data-theme-editor-setting="home-testimonial-title">Testimonials</h3>
      </div>
    <div class="module-body">
      <div class="home-testimonials-container clearfix">
        <div class="home-testimonials-slides">
          <div class="home-testimonials-slides-list" ><div class="home-testimonials-slides-list-item cloned">
                  <div class="home-testimonials-slides-list-item-container">
                    <div class="home-testimonials-slides-list-item-body">
                      <blockquote class="home-testimonial-quote">
                        "Just got my jacket, beanie and gloves yesterday. Great fit! Can't wait to put them to use.”
                      </blockquote>
                    </div>
                    <div class="home-testimonials-slides-list-item-footer">
                      <div class="home-testimonials-slides-list-item-footer-container clearfix">
                        <div class="home-testimonials-slides-list-item-footer-text">
                            <p class="home-testimonial-source">Jeremy</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-testimonials-slides-list-item" data-position="1">
                  <div class="home-testimonials-slides-list-item-container">
                    <div class="home-testimonials-slides-list-item-body">
                      <blockquote class="home-testimonial-quote">
                        "Yesterday I received my reward, and the quality of your products exceeded my expectation. Well done! Thank you very much.”
                      </blockquote>
                    </div>
                    <div class="home-testimonials-slides-list-item-footer">
                      <div class="home-testimonials-slides-list-item-footer-container clearfix">
                        <div class="home-testimonials-slides-list-item-footer-text">
                            <p class="home-testimonial-source">Thorsten L</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-testimonials-slides-list-item" data-position="2">
                  <div class="home-testimonials-slides-list-item-container">
                    <div class="home-testimonials-slides-list-item-body">
                      <blockquote class="home-testimonial-quote">
                        "It's the first time in years that I'm actually looking forward to colder weather, lol."
                      </blockquote>
                    </div>
                    <div class="home-testimonials-slides-list-item-footer">
                      <div class="home-testimonials-slides-list-item-footer-container clearfix">
                        <div class="home-testimonials-slides-list-item-footer-text">
                            <p class="home-testimonial-source">Andrew S</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-testimonials-slides-list-item active" data-position="3">
                  <div class="home-testimonials-slides-list-item-container">
                    <div class="home-testimonials-slides-list-item-body">
                      <blockquote class="home-testimonial-quote">
                        "Just got my jacket, beanie and gloves yesterday. Great fit! Can't wait to put them to use.”
                      </blockquote>
                    </div>
                    <div class="home-testimonials-slides-list-item-footer">
                      <div class="home-testimonials-slides-list-item-footer-container clearfix">
                        <div class="home-testimonials-slides-list-item-footer-text">
                            <p class="home-testimonial-source">Jeremy</p> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          <div class="home-testimonials-slides-list-item   cloned">
                  <div class="home-testimonials-slides-list-item-container">
                    <div class="home-testimonials-slides-list-item-body">
                      <blockquote class="home-testimonial-quote">
                        "Yesterday I received my reward, and the quality of your products exceeded my expectation. Well done! Thank you very much.”
                      </blockquote>
                    </div>
                    <div class="home-testimonials-slides-list-item-footer">
                      <div class="home-testimonials-slides-list-item-footer-container clearfix">
                        <div class="home-testimonials-slides-list-item-footer-text">
                            <p class="home-testimonial-source">Thorsten L</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div></div>
        </div>
        <div class="home-testimonials-pagination">
          <div class="home-testimonials-pagination-list clearfix">
                <div class="home-testimonials-pagination-list-item" data-position="1"></div>
                <div class="home-testimonials-pagination-list-item" data-position="2"></div> 
                <div class="home-testimonials-pagination-list-item active" data-position="3"></div>

          </div>
        </div>
        <div class="home-testimonials-navigation">
          <div class="home-testimonials-navigation-item previous-slide">
            <a class="home-testimonials-navigation-icon icon icon-arrow-left" href="#" tabindex="0"></a>
          </div>
          <div class="home-testimonials-navigation-item next-slide">
            <a class="home-testimonials-navigation-icon icon icon-arrow-right" href="#" tabindex="0"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>