<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"Wholly cow, this beanie I order exceeded my expectations and product is unparalleled to any other. I can't wait to order the gloves and jacket. I have a trip to steamboat in February that I am ordering the jacket for. Can wait , thank you”</blockquote>
    <p class="product-testimonial-source">Carlos F</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"It's the first time in years that I'm actually looking forward to colder weather, lol.”</blockquote>
    <p class="product-testimonial-source">Andrew S</p>
  </div>
</div>
