<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"Great for layering or perfect with jeans by itself. I'm 5'2", 110 lbs and the size Small fits perfectly. I have plenty of room to move around and even wear a thin shirt underneath!”</blockquote>
    <p class="product-testimonial-source">Illiana T</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"I bought one for myself and one for my mom in the green. I love the material, look, fit, and feel of this fleece. I'm very happy with it!”</blockquote>
    <p class="product-testimonial-source">Susan W</p>
  </div>
</div>