<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"I cannot speak about this vest's long-term durability because I have not had it long enough, but I am very impressed with it so far. It is surprisingly toasty for being lightweight, and the wind resistance is remarkable.”</blockquote>
    <p class="product-testimonial-source">Matt B</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"I bought this as a light-to-mid weight outer layer for before the temps got really chilly. I don't usually prefer vests. I am totally satisfied with this vest! It fits me perfectly and is MUCH warmer than you'd think.”</blockquote>
    <p class="product-testimonial-source">Bill C</p>
  </div>
</div>