<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"It keeps you warm and looks great. Simple and functional, love it.”</blockquote>
    <p class="product-testimonial-source">Shawn O</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"Live in eastern PA and I'm bike commuting all winter. This jacket is perfect (for me, anyway)--lightweight, blocks wind, keeps me warm. Great fit for biking. All in all a very good jacket for biking. Also nice just for wearing around on moderately cold days.”</blockquote>
    <p class="product-testimonial-source">Rafe B</p>
  </div>
</div>