<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"I have been searching for a vest that fits well and keeps a more dressy look. I have a lot of difficulties fitting vest, this one fits great all around. It is warm but not hot and looks good with just about anything.”</blockquote>
    <p class="product-testimonial-source">Carol M</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"Been looking at this for quite some time and couldn't resist going for it. Well worth the splurge. Warm and dressy enough to wear to work!”</blockquote>
    <p class="product-testimonial-source">Donna T</p>
  </div>
</div>