<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"It worked for me at -50C in Greenland and I sent my down parka home. It’s no gimmicks.”</blockquote>
    <p class="product-testimonial-source">Anthony L</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"Well 1st I love my jacket so very much and you guys did not exaggerate at all about its warmth. Walked to the store in -33°C weather and actually got hot except for my legs.  I’ve told everyone I know about your products.”</blockquote>
    <p class="product-testimonial-source">Alex M</p>
  </div>
</div>
<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"It keeps me warm and dry in cold northern Montana weather. I use it to work in and don't wear anything but some light long johns under it. I have recommended OROS to many people already. I truly believe if I was lost in the mountains in sub-zero weather I could lay down in the snow and survive the night. Heavier zippers would be nice.”</blockquote>
    <p class="product-testimonial-source">Danny Z</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"Revolutionary product. I'm usually a cold person. Kept me toasty warm last ski season.”</blockquote>
    <p class="product-testimonial-source">Mark C</p>
  </div>
</div>