<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"These leggings lived up to my expectations and more. Great material and super comfortable. Best part: leggings don’t slide down. I wore them all day & did not have to tug and pull to keep them in place. Not only great design, but great technology & super warm!”</blockquote>
    <p class="product-testimonial-source">Lisa M</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"My new favorite leggings! I have been looking for a great pair of leggings so I don't freeze when I go for a run outside, these leggings are great and are perfect for just wearing around. They stay put and don't ride or sag like other tights, fit great and hold everyone in place...Love them!”</blockquote>
    <p class="product-testimonial-source">Katie S</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"I am so excited about these leggings! As a runner who lives in a colder climate, I am always looking for leggings that will keep me warm, wick away sweat, and do not lose tightness after being washed. I finally found them. They also look super cool and it's fun to tell my friends that they have the same insulation as spacesuits!”</blockquote>
    <p class="product-testimonial-source">Maggie M</p>
  </div>  
</div>