<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"I just received my Oros jacket & pants yesterday and overall I am extremely pleased with the product - the wait was definitely worth it! You can tell that the clothes are tough, will offer great utility on the mountain, and are super warm while having excellent ventilation.”</blockquote>
    <p class="product-testimonial-source">Allen</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"Yesterday I received my reward, and the quality of your products exceeded my expectation. Well done! Thank you very much.”</blockquote>
    <p class="product-testimonial-source">Thorsten L</p>
  </div>
</div>
