<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"Used it as a ski layer as well as going out at night. Very versatile, great texture, fairly fitted but not too tight.”</blockquote>
    <p class="product-testimonial-source">Fiasal R</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"I wear this fleece on the mountains and out around town. It is stylish, excellent fit and I liked it so much I bought it in another color!”</blockquote>
    <p class="product-testimonial-source">Jacob E</p>
  </div>
</div>