
<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"I have had this jacket for about a month and so far I love it. It's very comfortable and moves well. It keeps me warm in windy conditions. I haven't tried it on a long hike but I think it will do well. I like that I can also wear it to work and it looks great.”</blockquote>
    <p class="product-testimonial-source">Karen D</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"Bought this as my go-to jacket for alpine activities in the or shoulder seasons. In the mountains, you never know what the weather is going to be, so you need a do it all piece!”</blockquote>
    <p class="product-testimonial-source">Sarah T</p>
  </div>
</div>