<div class="product-testimonial-row clearfix">
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"The Parka is amazingly warm. Very well designed and the ventilation zippers are amazing. Strongly recommend buying OROS. I'm very satisfied with my purchase. Well worth the price!!”</blockquote>
    <p class="product-testimonial-source">Laurie B</p>
  </div>
  <div class="product-testimonial-entry">
    <blockquote class="product-testimonial-quote">"The jacket is warm and not bulky. It keeps you warm even when the temp is in the teens. I'm from Alabama, so for me, that's pretty cold!”</blockquote>
    <p class="product-testimonial-source">Renee A</p>
  </div>
</div>