<a href="#" data-scroll-to="reviews-section" class="yotpo-star-badge-container" id="yotpo">
  <div class="avg-review-stars"></div>
  <div class="product-reviews-amount">
    <p class="product-reviews-amount-number">
      <span class="reviews-avg-dec"></span>/5
      (<span class="num-reviews"></span>)
    </p>
  </div>
</a>
