{% comment %}

  Arguments:

    • icon - required
    • text - required

{% endcomment %}

<div class="oo-icon-with-text {{ classes -}}" {{ extra_attrs -}}>

  {%- include 'icon',
    name: icon,
    classes: 'inside-oo-icon-with-text',
    extra_attrs: '' -%}

  {%- include 'text',
    content: text,
    classes: 'inside-oo-icon-with-text',
    extra_attrs: '' -%}

</div>
