{% comment %}

  Arguments:

    • title - required
    • list - required
    • level

{% endcomment %}

<div class="oo-menu {{ classes -}}" {{ extra_attrs -}}>

  {%- include 'header',
    title: title,
    level: level,
    classes: 'inside-oo-menu',
    extra_attrs: '' -%}

  {%- include 'list',
    content: list,
    classes: 'inside-oo-menu',
    extra_attrs: '' -%}

</div>
