{% comment %}

  Arguments:

    • quantity

{% endcomment %}

<div
  class="oo-quantity-select {{ classes -}}"
  data-quantity-select
  {{ extra_attrs -}}>

  {%- include 'button',
    content: '-',
    classes: 'inside-oo-quantity-select',
    extra_attrs: 'data-quantity-change=-1' -%}

  {%- include 'input',
    type: 'number',
    name: 'quantity',
    value: quantity,
    id: 'quantity',
    classes: 'inside-oo-quantity-select',
    extra_attrs: 'min=1 data-quantity-value' -%}

  {%- include 'button',
    content: '+',
    classes: 'inside-oo-quantity-select',
    extra_attrs: 'data-quantity-change=1' -%}

</div>
