{% comment %}

  Arguments:

    • name - required
    • slides

{% endcomment %}

<div
  class="oo-slider {{ classes -}}"
  data-slider="{{ name }}"
  {{ extra_attrs }}>

  {%- assign _slides_array = slides | remove_first: '-->' | split: '-->' -%}

  {%- for _slide in _slides_array -%}
    {{- _slide -}}
  {%- endfor -%}

  {%- assign _slides_array = nil -%}

</div>
