.product-images {
  display: flex;
}

.vv-product-gallery-thumbs {
  flex-direction: column;
  flex-basis: 90px;
  width: 90px;
  padding-right: 10px;
  display: none;

  @include mq('m') {
    display: block;
  }
}

.gallery-slide-thumb {
  margin-bottom: 10px;
}

.vv-product-gallery {
  flex: 1;
}
