.template-page-technology {
	background: #fcfaf5;

	// fixing the white border line bug on retina screens
	.our-tech-percentage-wrapper,
	.text-image-section__theme--dark {
		box-shadow: 0 0 0 1px #232323;
	}

	@include mq($screen-sm) {
		.brand-values-section .brand-values .brand-value {
			&:nth-of-type(3),
			&:nth-of-type(4) {
				margin-bottom: 0;
			}
		}
	}
	@include mq($screen-md) {
		.brand-values-section .brand-value {
				margin-bottom: 0;
		}
	}
}

.our-tech-hero-wrapper {
	background-size: cover;
	background-position: center center;
	padding-top: 60px;
	height: calc(100vh - 60px); // minus all the
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	position: relative;

	.container {
		width: 100%;
		margin: 0 auto;
		@include mq($screen-md) {
			padding: 0 60px;
		}
	}

	@include mq($screen-md) {
		padding-top: 90px;
	}
}

.our-tech {
	&__breadcrumbs {
		display: none;

		@include mq($screen-md) {
			display: block;
		}
	}
}

.our-tech-hero {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;

	&__title {
		padding: 2rem;
		max-width: 780px;

		p {
			color: white;
			font-family: $gt-america-expanded-bold;
			font-size: 22px;
			line-height: 30px;
			text-align: center;
			letter-spacing: 0.5px;
			text-transform: uppercase;

			em {
				font-style: normal;
				display: block;
				color: none;
				-webkit-text-fill-color: rgba(0, 0, 0, 0);
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: white;
			}

			@include mq($screen-xxs) {
				font-size: 26px;
				line-height: 32px;
			}
		}

		@include mq($screen-sm) {
			p {
				font-size: 48px;
    		line-height: 56px;
			}
		}
		@include mq($screen-md) {
			padding: 0;
			// margin-top: -108px;
			transform: translateY(-64px);
			p {
				font-size: 64px;
				line-height: 72px;
			}
		}
	}

	&__arrow-wrapper {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 32px;

		@include mq($screen-sm) {
			bottom: 48px;
		}

		@include mq($screen-sm) {
			bottom: 64px;
		}
	}

	&__arrow {
		display: block;
		cursor: pointer;
	}
}
