.oo-global-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-header--primary-navigation {
  margin-right: auto;

  > * {
    padding-right: 10px;
    white-space: nowrap;
  }
}

.global-header--logo {
  display: block;
  max-width: 320px;
}

.global-header--block-group.pull-right {
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.global-header--primary-navigation,
.global-header--block-group.pull-right {
  flex: 1;
  flex-basis: 33.33%;
  width: 33.33%;
}

.global-header--cart {
  align-items: center;

  .button--content {
    order: -1;
  }
}

.global-header--primary-navigation,
.global-header--secondary-navigation,
.global-header--block-group.pull-right,
.global-header--cart {
  display: flex;
}
