<div class="press-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="press__header">
          <span>{{ section.settings.news_pretitle }}</span>
          <h2>{{ section.settings.news_title }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="press__articles" data-press-slider>
          {% for block in section.blocks %}
            <div class="press__article">
              <p>{{ block.settings.article_company }}</p>
            </div>
          {% endfor %}
        </div>
        <div class="press__article-quotes" data-press-quote-slider>
          {% for block in section.blocks %}
            <div class="press__article-quote">
              <p>{{ block.settings.article_quote }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "In The News",
    "settings": [
      {
        "type":"text",
        "id":"news_pretitle",
        "label":"News Pre-Title",
        "default":"What They're Saying"
      },
      {
        "type":"text",
        "id":"news_title",
        "label":"News Title",
        "default":"Oros in the News"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "featured-news",
        "name": "Featured News Article",
        "settings": [
          {
            "type":"text",
            "id":"article_company",
            "label":"Press Name"
          },
          {
            "type":"textarea",
            "id":"article_quote",
            "label":"Quote From Article"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "In The News",
        "category": "Homepage Sections"
      }
    ]
  }
{% endschema %}