<section class="shipping">
  <div data-shipping-toggle class="shipping__close">&times;</div>

  <div class="container">
    <h1 class="shipping__heading">Shipping &amp; Returns</h1>

    <div class="row">
      <div class="col-xl-6">
        <h3 class="shipping__subheading">Domestic Shipping:</h3>
        <p class="shipping__body">We are excited to offer free standard shipping on all domestic orders of $200 USD or more for domestic purchases. We do our best to process and ship orders within 1-2 business days, Monday - Friday. Please keep in mind that during holiday seasons, processing time may increase. Delivery timelines commence one business day following the purchase date.</p>
        <h3 class="shipping__subheading">Domestic Shipping Options:</h3>
        <p class="shipping__body">
          Free Standard Ground: 2-5 Business Day<br>
          2 Day Delivery: 2 Business Days
        </p>
      </div>
      <div class="col-xl-6">
        <h3 class="shipping__subheading">International Shipping:</h3>
        <p class="shipping__body">We are pleased to offer international shipping to over 200 countries. International shipping times vary by country. The cost of international shipping includes any applicable duties and taxes for the destination country - the price provided at checkout is the final and total cost of the order.</p>
        <h3 class="shipping">For more details visit our <a href="/pages/contact">help page</a></h3>
      </div>  
    </div>
  </div>
</section>
<div class="shipping__bg"></div>
