{%- comment -%}

  Required arguments:
  - snippet

  Optional arguments:
  - classes
  - attrs

{%- endcomment -%}


<div class="oo-svg {{ classes -}}" {{ attrs -}}>

  {%- include snippet -%}

</div>
