{% comment %}

  Required arguments:

  Optional arguments:
  - with_thumbs
  - group_images
  - filter_group_options
  - filter_attr

{% endcomment %}


<div class="product-images {{ classes -}}" {{ attrs -}}>

  {%- if with_thumbs == true -%}

    {%- include 'product-images-gallery-thumbs' -%}

  {%- endif -%}

  {%- include 'product-images-gallery' -%}

</div>
