{%- comment -%}

  Required arguments:

  Optional arguments:
  - header
  - placeholder
  - submit_icon
  - submit_text

{%- endcomment -%}


<section class="global-footer--newsletter-signup">

  {%- include 'header',
    level: 3,
    title: header,
    classes: '',
    attrs: '' -%}

  {%- capture footer_newsletter_signup_content -%}
    {%- capture input_placeholder -%}
      placeholder="{{ placeholder }}"
    {%- endcapture -%}

    {%- include 'input',
      type: 'email',
      name: 'global-footer-newsletter-signup',
      classes: '',
      attrs: input_placeholder -%}

    {%- include 'button',
      type: 'submit',
      icon: submit_icon,
      content: submit_text,
      classes: '',
      attrs: '' -%}

  {%- endcapture -%}

  {%- include 'container-form',
    name: 'global-footer-newsletter-signup',
    method: 'post',
    action: '',
    content: footer_newsletter_signup_content,
    classes: '',
    attrs: '' -%}

  {%- assign footer_newsletter_signup_content = nil -%}

</section>
